div {
  font-family: "Verdana",sans-serif;
}

#globalinfo {
  text-align: center;
}

#gamearea {
  height: 100%;
}

#cardinfo {
  width: 25%;
  height: 100%;
  display: inline-block;
}

.card-container {
  position: relative;
  background-color: #80ff80;
  padding: 10px;
}

.card-info-bottom {
  position: absolute;
  bottom: 10px;
}

.card-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 150%;
}

.card-types {
  font-size: 80%;
  text-align: center;
  font-style: italic;
  padding-bottom: 10px;
}

.card-image {
  width: 100%;
  height: 50%;
}

.card-description {
  width: 100%;
}

#playarea {
  width: 50%;
  display: inline-block;
}

#tabs {
  width: 25%;
  display: inline-block;
}

.resource-energy {
  width: 1em;
  height: 1em;
  background-color: #ffff00;
  display: inline-block;
  vertical-align: middle;
}
