div {
  font-family: "Verdana",sans-serif;
}

#root {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 500px;
  width: 100%;
}

#toprow {
}

#globalinfo {
  text-align: center;
  width: 100%;
}

#gamearea {
  display: -webkit-box;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}

#playarea {
  height: 100%;
  background-color: green;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#tabs {
  width: 25%;
  height: 100%;
  background-color: blue;
}

#cardinfo {
  width: 25%;
  height: 100%;
  background-color: red;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}

#table {
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.card-hand {
  height: 30px;
  padding: 10px;
}

#table-mid-row {
  -webkit-box-flex: 1;
}

.resource-energy {
  width: 1em;
  height: 1em;
  background-color: #ffff00;
  display: inline-block;
  vertical-align: middle;
}
