{namespace bgm.hml.ui.cards.base}

/**
 * Renders description of every cards in the base set
 * @param name {String} name of the card
 */
{template .description}
{switch $name}
  {case 'banana'}
    Gains 2 {call bgm.hml.ui.energy /}
  {case 'sad-memory'}
    When you draw this, discard this card.
{/switch}
{/template}
